{% extends "base.html" %}
{% block title %}Resetowanie hasła{% endblock %}
{% block content %}
<div class="password_reset">
    <h1 class="password_reset__header">Resetowanie hasła</h1>
    {% if validlink %}
    <div class="password_reset__form">
    <form class="password_reset__form__form" action="." method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Zmień hasło" class="btn password_reset__form__form__input">
    </form>
    {% else %}
    <p class="password_reset__error">Link do resetowania hasła jest nie poprawny, najprawdopodobniej był już użyty.</p>
    {% endif %}
</div>
{% endblock %}