{% extends "base.html" %}
{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
<div class="password_reset">
    <h1 class="password_reset__header">Zapomniałeś/aś hasła ?</h1>
    <p class="password_reset__p">Proszę wpisz swój adres email w celu zresetowania hasła.</p>
    <div class="password_reset__form">
    <form class="password_reset__form__form" action="." method="POST">
        {% csrf_token %}
        {{form}}
        <input class="btn password_reset__btn" type="submit" value="Wyślij e-mail">
    </form>
    </div>
</div>
{% endblock %}