{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css">
    <link rel="stylesheet" href="{% static 'style.min.css' %}">
    {% block css %}
    {% endblock css %}
    
    <title>KetONs - {% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="wrapper">
        {% include 'main/navbar.html' %}
        {% include 'main/sidebar.html' %}
            <main class="content">
            {% block content %}
            {% endblock content %}
            </main>
        <footer></footer>
    </div>
    {% block scripts %}
    {% endblock scripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/locales-all.min.js"></script>
    <script src="https://kit.fontawesome.com/f76b38905f.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src={% static 'js/navbar.js' %}></script>   
</body>
</html>